.recommendations-posters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.recommendations-map {
    text-align: center;
    margin-top: 1rem;
    /* border: solid white 2px; */
    /* margin: 5px; */
    transition: transform 450ms;
}

.recommendations-name {
    width: 9em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.9rem;
    transition: white-space 0.6s ease-in-out;
}

.recommendations-poster {
    object-fit: contain;
    width: 8rem;
    border-radius: 5%;
    transition: transform 0.6s ease-in-out;
    margin: 0.5rem;
}

.recommendations-posters::-webkit-scrollbar {
    /* width: 2vw; */
    /* color: white; */
    /* background-color: gray; */
    display: none;
}

.recommendations-map:hover {
    cursor: pointer;
    transform: scale(1.10);
    white-space: normal;
}

.recommendations-map:hover > .recommendations-name {
    overflow: visible;
    /* white-space: normal; */
}