.movie-credits {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    scrollbar-width: 2vw;
    scrollbar-color: green;
}

.actor-movie-poster {
    object-fit: contain;
    width: 100%;
    max-height: 150px;
    margin-right: 10px;
    transition: transform 450ms;
}

.movie-posters::-webkit-scrollbar {
    /* width: 2vw; */
    /* color: white; */
    /* background-color: gray; */
    display: none;
}

.actor-movie-poster:hover {
    cursor: pointer;
    transform: scale(1.09);
}