/* Old SignUp Page CSS */
/* .form-group {
    text-align: center;
}

.signup-section > h1 {
    text-align: center;
    border-bottom: 1px solid white;
    margin-bottom: 32px;
} */

.main2 {
    background-color: white;
    padding: 20px;
    border-radius: 12%;
}