/* Old SignUp Page CSS */
/* .form-group {
    text-align: center;
}

.signup-section > h1 {
    text-align: center;
    border-bottom: 1px solid white;
    margin-bottom: 32px;
} */

.login-main {
    position: fixed;
    margin-top: 3rem;
}

.signup-main {
    margin-top: 5rem;
}

.signup-main2 {
    background-color: white;
    padding: 1.8rem;
    border-radius: 12%;
}