.seasons-posters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.seasons-map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: transform 450ms;
}

.seasons-name {
    width: 8em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.seasons-poster {
    object-fit: contain;
    border-radius: 2rem;
    width: 10rem;
    margin: 0px 5px;
    transition: transform 450ms;
}

.seasons-episodes {
    margin-bottom: 2rem;
}

.seasons-map:hover {
    cursor: pointer;
    transform: scale(1.10);
    white-space: normal;
}

