.main-list-component {
    margin-top: 5rem;
    display: flex;
    /* text-align: center;
    align-items: center;
    justify-content: center; */
}

/* .list-component-main-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1rem;
} */