.top-section {
    display: flex;
    flex-direction: column;
}

.movie-background {
    width: 100%;
    max-height: 500px;
    /* object-fit: contain; */
}

.movie-poster {
    max-width: 240px;
    /* height: 350px; */
}

.page-organization {
    display: flex;
    transition: transform 458mx ease-in-out;
}

.bottom-section {
    padding-left: 30px;
}

.social-media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorite-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
}

@media screen and (max-width: 1042px) {
    .page-organization {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}