.top-section {
    display: flex;
    flex-direction: column;
}

.movie-background {
    width: 100%;
    max-height: 500px;
    /* object-fit: contain; */
}

.movie-poster {
    max-width: 300px;
    max-height: 300px;
}

.page-organization {
    display: flex;
}

.bottom-section {
    padding-left: 30px;
}


.social-media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-links > a {
    padding: 10px 0px 0px 10px;
}