.form-control {
    text-align: center;
}

.form-group > label {
    border-bottom: 1px solid white;
}

.login-section > h1 {
    text-align: center;
    border-bottom: 1px solid white;
    margin-bottom: 32px;
}