.people {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .people-title {
    padding-top: 70px;
  }
  
  .people-posters {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 90%;
    /* overflow-y: hidden; */
    /* overflow-x: scroll; */
  }
  
  .people-map {
    display: flex;
    flex-direction: column;
    border: solid white 2px;
    border-radius: 2vw;
    margin: 5px;
    /* padding: 2px; */
  }
  
  .people-poster {
    object-fit: contain;
    width: 100%;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    /* max-height: 350px; */
    /* max-width: 250px; */
    /* margin: 0px 0px 10px 0px; */
  }
  
  .people-poster:hover {
    cursor: pointer;
  }

  .people-name {
    /* position: absolute; */
    text-align: center;
    padding: 4px 4px 0px;
  }