.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row-title {
  padding-top: 70px;
}

.row-posters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 90%;
  /* overflow-y: hidden; */
  /* overflow-x: scroll; */
}

.row-map {
  display: flex;
  flex-direction: column;
  border: solid white 2px;
  margin: 5px;
  border-radius: 2vw;
  /* padding: 2px; */
}

/* animation for images before they load - if they take time to load */
.skeleton {
  animation: poster-loading 1s linear infinite alternate;
}

@keyframes poster-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.row-poster {
  object-fit: contain;
  width: 100%;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  /* max-height: 350px; */
  /* max-width: 250px; */
  /* margin: 0px 0px 10px 0px; */
}

.row-poster:hover {
  cursor: pointer;
}

.fas {
  display: flex;
  justify-content: flex-end;
  /* padding: 0px 8px 1px 0px; */
  padding: 6px;
}

.fas:hover {
  cursor: pointer;
}

.movie-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.movie-buttons {
/* margin-left: 2rem; */
border-radius: 0.5vw;
background-color: rgba(51, 51, 51, 0.5);
padding: 0.5rem 1rem;
margin: 0.5rem;
}

.movie-buttons:hover {
  background-color: #e6e6e6;
  color: #000;
  transition: all 0.2s;
}