.buttons-under-homepage-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 25rem;
    padding: 0rem 1rem;
}

.buttons-under-homrpage-btn-sizes {
    padding: 0.5rem;
    transform: scale(1.2);
}