.home-show {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-show-poster {
    padding: 1rem 0rem;
    transition: transform 450ms;
}

.home-show-poster:hover{
    cursor: pointer;
    transform: scale(1.06);
}