.home-movie {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-movie-poster {
    padding: 2rem 0rem;
    cursor: pointer;
}

.arrow {
    font-size: 48px;
    margin: 0rem 1rem;
}