/* .main-nav {
    position: fixed;
    right: 0;
    left: 0;
} */

.logo {
    max-width: 175px;
    max-height: 175px;
}

.navColor1 {
    background-color: black;
    opacity: 0.7;
    transition: all 0.5s;
}

.navColor2 {
    background-color: black;
    opacity: 1;
    transition: all 0.5s;
}

.header {
    background: linear-gradient(90deg, rgb(28, 28,28) 0%, rgb(26, 23, 23) 100%);
    padding: .5rem;
    gap: 1rem;
    height: 2.5rem;
    display: flex;
    align-items: baseline;
}

.menu-icon {
    display: none;
}

.dropdown-link {
    color: #fff;
}

.dropdown-link:hover {
    text-decoration: none;
    color: #fff;

}

.nav-links {
    color: #fff;
}

.nav-links:hover {
    text-decoration: none;
    color: #fff;
}