.overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left: 0.5rem;
}

.episode-picture {
    display: flex;
}

.episode-poster {
    width: 300px;
    margin: 0.5rem;
}