.episode-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-left: 0.5rem;
}

.episode-picture {
    display: flex;
    justify-content: space-between;
}

.episode-poster {
    width: 300px;
    margin: 0.5rem;
}

@media screen and (max-width: 925px) {
    .episode-picture {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}