.actor-background {
    max-height: 300px;
    max-width: 300px;
}

.actor-pictures {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.actor-pictures::-webkit-scrollbar {
    display: none;
}

.actor-images {
    max-width: 180px;
    max-height: 180px;
    margin-right: 10px;
}